﻿@page "/avisos"

@inject IAvisoViewModel ViewModel
@using System.ComponentModel;
@implements IDisposable

<CascadingValue Value=@ViewModel Name="ViewModel">
    <ListAviso />
</CascadingValue>

@code {

    protected override async Task OnInitializedAsync()
    {


        ViewModel.PropertyChanged += async (sender, e) =>
        {
            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };

        await ViewModel.LoadModel();

        await base.OnInitializedAsync();
    }

    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        ViewModel.PropertyChanged -= OnPropertyChangedHandler;
    }
}
