﻿@using Models.Avisos
@using Models

@inject IModalService ModalService

<ToastComponent @ref="@Notificacion"></ToastComponent>

<ModalDialogComponent Context="@Context" Title="Aviso" OnSaveClick="@Save" OnCancelClick="@Confirm" ParametrosColumns="8" OtrosColumns="4" ShowOkButton="@Enabled" MinWidth="800px" OtrosTemplateMaxHeight="700px" OtrosParametrosTitle="Destinatarios">

    <ParametrosTemplate>
        <div class="form-row">
            <div class="form-group  mb-1 col-md-12 @Identificador">
                @(ViewModel.AvisoItem.Id == 0 ? "Identificador: NUEVO" : "Identificador: " + ViewModel.AvisoItem.Id)
            </div>
        </div>
        <div class="form-row">
            <div class="form-group mb-1 col-md-12">
                <SfTextBox Enabled="@Enabled" @bind-Value="@(ViewModel.AvisoItem.Titulo)" Placeholder="Título del Aviso" FloatLabelType="@FloatLabelType.Auto" HtmlAttributes="@MaxLenght50"></SfTextBox>
                <ValidationMessage For="@( () => ViewModel.AvisoItem.Titulo)"></ValidationMessage>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group mb-1 col-md-12">
                <SfTextBox ID="Texto" Enabled="@Enabled" @bind-Value="@(ViewModel.AvisoItem.Texto)" Multiline="true" Autocomplete="AutoComplete.Off" HtmlAttributes="@MaxLenght200" Placeholder="Texto del Aviso" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                <ValidationMessage For="@( () => ViewModel.AvisoItem.Texto)"></ValidationMessage>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group mb-1 col-md-12">
                <SfDropDownList Enabled="@Enabled" ID="avisoCategoriaId" @bind-Value="@(ViewModel.AvisoItem.AvisoCategoriaId)" DataSource="@ViewModel.CategoriasList" Placeholder="Categoría de Aviso" FloatLabelType="@FloatLabelType.Auto">
                    <DropDownListFieldSettings Value="Id" Text="Descripcion"></DropDownListFieldSettings>
                </SfDropDownList>
                <ValidationMessage For="@( () => ViewModel.AvisoItem.AvisoCategoriaId)"></ValidationMessage>

            </div>
        </div>
        <div class="form-row">
            <div class="form-group mb-1 col-md-12">
                <SfDropDownList Enabled="@Enabled" ID="avisoTipoId" @bind-Value="@(ViewModel.AvisoItem.AvisoTipoId)" DataSource="@ViewModel.TiposList" Placeholder="Tipo de Aviso" FloatLabelType="@FloatLabelType.Auto">
                    <DropDownListFieldSettings Value="Id" Text="Descripcion"></DropDownListFieldSettings>
                    <DropDownListEvents TItem="AvisoTipo" TValue="int?" ValueChange="OnValueChangeAvisoTipo"></DropDownListEvents>
                </SfDropDownList>
                <ValidationMessage For="@( () => ViewModel.AvisoItem.AvisoTipoId)"></ValidationMessage>
            </div>
        </div>

        @if (ViewModel.TiposList.FirstOrDefault(w => w.Id == ViewModel.AvisoItem.AvisoTipoId.GetValueOrDefault(0))?.Descripcion != "Inmediato")
        {
            <div class="form-row">
                <div class="col-md-6">
                    <SfDateTimePicker Enabled="@Enabled" FloatLabelType="@FloatLabelType.Auto" Placeholder="Fecha Desde" ID="fechaDesde" @bind-Value="@(ViewModel.AvisoItem.FechaDesde)">
                        <DateTimePickerEvents TValue="DateTime?" ValueChange="@(()=>ValidacionFechas())"></DateTimePickerEvents>
                    </SfDateTimePicker>
                    <ValidationMessage For="@( () => ViewModel.AvisoItem.FechaDesde)"></ValidationMessage>
                </div>
                <div class="col-md-6">
                    <SfDateTimePicker Enabled="@Enabled" ID="fechaHasta" FloatLabelType="@FloatLabelType.Auto" Placeholder="Fecha Hasta" @bind-Value="@(ViewModel.AvisoItem.FechaHasta)">
                        <DateTimePickerEvents TValue="DateTime?" ValueChange="@(()=>ValidacionFechas())"></DateTimePickerEvents>
                    </SfDateTimePicker>
                    <ValidationMessage For="@( () => ViewModel.AvisoItem.FechaHasta)"></ValidationMessage>
                </div>
            </div>
        }

    </ParametrosTemplate>

    <OtrosTemplate>
        <div class="form-row">
            <div class="e-control-wrapper">
                <SfTreeView @ref="TreeObj" AllowEditing="@Enabled" TValue="TreeItem" ShowCheckBox="true" >
                    <TreeViewFieldsSettings DataSource="@ViewModel.UsuariosList.TreeItems" Id="Id"  Text="Name" HasChildren="HasChild" Selected="Selected" IsChecked="IsChecked" Expanded="Expanded" Child="Child"></TreeViewFieldsSettings>
                    <TreeViewEvents TValue="TreeItem" NodeChecking="BeforeCheck" NodeEditing="OnNodeEditing"></TreeViewEvents>
                </SfTreeView>
            </div>
        </div>
    </OtrosTemplate>

</ModalDialogComponent>

<ConfirmationDialogComponent @ref="DialogClose" HeaderText="Salir" ContentText="Se cancelarán los cambios pendientes. ¿Desea Continuar?" OnAccept="@Cancel" OnCancel="@(() => DialogClose.Hide())" />


@code {

    private string Identificador = "small text-black-50";

    [CascadingParameter] Blazored.Modal.ModalParameters Parameters { get; set; }
    private IAvisoViewModel ViewModel { get; set; }

    private ToastComponent Notificacion;
    private ConfirmationDialogComponent DialogClose;

    private EditContext Context;

    private bool Enabled;

    private Dictionary<string, object> MaxLenght50 { get; set; } = new Dictionary<string, object>() { { "maxlength", "50" } };
    private Dictionary<string, object> MaxLenght200 { get; set; } = new Dictionary<string, object>() { { "maxlength", "200" } };

    private SfTreeView<TreeItem> TreeObj;

    protected override async Task OnInitializedAsync()
    {
        ViewModel = Parameters.Get<IAvisoViewModel>("ViewModel");
        Context = new EditContext(ViewModel.AvisoItem);
        Enabled = ViewModel.State != ModelState.Browsing;
        await base.OnInitializedAsync();
    }

    private async Task Save()
    {
        try
        {
            if (ViewModel.AvisoItem.AvisosUsuarios.Count < 1) throw new WebException("Se debe informar al menos un usuario.");

            if (!ValidacionFechas()) return;

            if (!this.Context.Validate()) throw new WebException("Existen errores de validación.");


            await ViewModel.SaveChanges();

            ModalService.Close(ModalResult.Ok<Aviso>(ViewModel.AvisoItem));

        }
        catch (ApiException ex)
        {
            this.Notificacion.ShowError(ex.Message);
        }
        catch (WebException ex)
        {
            this.Notificacion.ShowError(ex.Message);
        }
    }

    private void Confirm()
    {
        if (this.Context.IsModified())
        {
            this.DialogClose.Show();
        }
        else
        {
            this.Cancel();
        }
    }

    private void Cancel()
    {
        ViewModel.CancelChanges();

        ModalService.Cancel();
    }

    #region TreeView events
    void BeforeCheck(NodeCheckEventArgs args)
    {
        if (ViewModel.State == ModelState.Browsing)
        {
            args.Cancel = true;
            return;
        }

        if (args.IsInteracted)
        {
            var data = TreeObj.GetTreeData(args.NodeData.Id).FirstOrDefault();
            var checkedState = args.Name == "NodeChecking";
            if (data.HasChild)
            {
                foreach (var item in ViewModel.UsuariosList.TreeItems.Where(p => p.Id == data.Id).Select(s => s.Child).ToList())
                {
                    foreach (var user in item)
                    {
                        ViewModel.AvisoItem.SetUser(user.Name, checkedState);
                    }
                }
            }
            else
            {
                var user = ViewModel.UsuariosList.TreeItems.First(p => p.Id == data.ParentId).Child.First(p => p.Id == data.Id);
                ViewModel.AvisoItem.SetUser(user.Name, checkedState);
            }
        }
    }

    void OnNodeEditing(NodeEditEventArgs args)
    {
        args.Cancel = true;
    }
    #endregion

    private void OnValueChangeAvisoTipo(Syncfusion.Blazor.DropDowns.ChangeEventArgs<int?,AvisoTipo> args)
    {
        if (args != null && args.Value == 1)
        {
            ViewModel.AvisoItem.FechaDesde = DateTime.Now.AddMinutes(-5);
            ViewModel.AvisoItem.FechaHasta = DateTime.Now.AddMinutes(5);
        }
        else
        {
            ViewModel.AvisoItem.FechaDesde = null;
            ViewModel.AvisoItem.FechaHasta = null;
        }
    }

    private bool ValidacionFechas()
    {
        try
        {
            if (ViewModel.AvisoItem.FechaHasta < DateTime.Now) throw new WebException("Fecha Hasta no puede ser menor a la actual");

            if (ViewModel.AvisoItem.FechaDesde != null && ViewModel.AvisoItem.FechaHasta != null && ViewModel.AvisoItem.FechaHasta <= ViewModel.AvisoItem.FechaDesde)
            {
                throw new WebException("Fecha Hasta no puede ser inferior o igual a Fecha Desde");
            }

            return true;
        }
        catch (WebException ex)
        {
            this.Notificacion.ShowError(ex.Message);
            return false;
        }
    }
}

<style>
    #Texto {
        height: 150px;
        max-height:300px;
    }
</style>



