﻿

@implements IDisposable

@inject NavigationManager NavigationManager

@inject IModalService ModalService


<div class="modal_control_wrapper" style="@style">

    <div class="row">
        <h3 class="col-9 font-weight-bold">@Title</h3>
        <span class="col-3 text-right">
            @if (ShowOkButton)
            {
                <SfButton CssClass="e-outline e-primary" IconCss="e-icons e-ok-icon" HtmlAttributes="@(new Dictionary<string, object>() { { "type", "button" }, { "title", SaveTooltipText } })" @onclick="@OnSaveClick"></SfButton>
            }
            <SfButton CssClass="e-outline e-secondary" IconCss="e-icons e-cancel-icon" HtmlAttributes="@(new Dictionary<string, object>(){{ "type", "button"},{ "title", "Cancelar" } })" @onclick="@OnCancelClick"></SfButton>
        </span>
    </div>

    @if (!string.IsNullOrWhiteSpace(this.Breadcrumbs))
    {
        <div>
            <h6><span class="small">@Breadcrumbs</span></h6>
        </div>
    }

    <hr />

    <EditForm EditContext="@Context">

        <DataAnnotationsValidator />

        <div class="row">

            @if (ShowParameterCard)
            {
                <div class=@ParametrosCss>
                    <CardComponent Title="Parámetros" WithMaxHeight="@WithMaxHeightCard">
                        @if (ParametrosTemplate == null)
                        {
                            <label>Loading...</label>
                        }
                        else
                        {
                            @ParametrosTemplate
                        }
                    </CardComponent>
                </div>
            }

            @if (VigenciaTemplate != null)
            {
                <div class=@VigenciasCss>
                    <CardComponent Title="Vigencias" WithMaxHeight="@WithMaxHeightCard">
                        @VigenciaTemplate
                    </CardComponent>
                </div>
            }


            @if (OtrosTemplate != null)
            {
                <div class=@OtrosCss>
                    <CardComponent Title="@OtrosParametrosTitle" MaxHeight="@OtrosTemplateMaxHeight" WithMaxHeight="@WithMaxHeightCard">
                        @OtrosTemplate
                    </CardComponent>
                </div>
            }
        </div>


    </EditForm>

</div>



@code {

    [Parameter]
    public string Breadcrumbs { get; set; } = "";

    [Parameter]
    public string ModalDialogColumns { get; set; }

    [Parameter]
    public int ParametrosColumns { get; set; } = 6;

    [Parameter]
    public int VigenciasColumns { get; set; } = 6;

    [Parameter]
    public int OtrosColumns { get; set; } = 6;

    [Parameter]
    public EditContext Context { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string SaveTooltipText { get; set; } = "Guardar";

    [Parameter]
    public EventCallback OnSaveClick { get; set; }

    [Parameter]
    public EventCallback OnCancelClick { get; set; }

    [Parameter]
    public RenderFragment VigenciaTemplate { get; set; }

    [Parameter]
    public RenderFragment ParametrosTemplate { get; set; }

    [Parameter]
    public RenderFragment OtrosTemplate { get; set; }

    [Parameter]
    public string OtrosParametrosTitle { get; set; } = "Otros Parámetros";

    [Parameter]
    public bool ShowOkButton { get; set; } = true;

    [Parameter]
    public string MinWidth { get; set; } = "";

    [Parameter]
    public string OtrosTemplateMaxHeight { get; set; } = "";

    [Parameter]
    public string Height { get; set; } = "";

    [Parameter]
    public bool WithMaxHeightCard { get; set; } = true;

    [Parameter]
    public bool ShowParameterCard { get; set; } = true;

    private string ParametrosCss { get; set; }
    private string VigenciasCss { get; set; }
    private string OtrosCss { get; set; }

    private string style = "";


    protected override Task OnInitializedAsync()
    {
        // Subscribe to the event
        NavigationManager.LocationChanged += LocationChanged;
        return base.OnInitializedAsync();
    }

    void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        ModalService.Cancel();
    }

    void IDisposable.Dispose()
    {
        // Unsubscribe from the event when our component is disposed
        NavigationManager.LocationChanged -= LocationChanged;
    }

    protected override void OnParametersSet()
    {
        if (VigenciaTemplate == null && OtrosTemplate == null) ParametrosColumns = 12;

        this.ParametrosCss = "col-md-" + this.ParametrosColumns;
        this.VigenciasCss = "col-md-" + this.VigenciasColumns;
        this.OtrosCss = "col-md-" + this.OtrosColumns;

        if (!ShowParameterCard) this.OtrosCss = "col-md-12";

        this.style = !string.IsNullOrWhiteSpace(MinWidth) ? $"min-width:{MinWidth}" : "";
        if (!string.IsNullOrWhiteSpace(Height)) this.style += $";height:{Height}";


        base.OnParametersSet();
    }



}

<style>
    .modal_control_wrapper {
        min-width: 400px;
        max-width: 1400px;
    }
</style>
